<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ceo name</th>
      <th>Established</th>
      <th>Listing</th>
      <th>Capital</th>
      <th>Sales</th>
      <th>Employees</th>
      <th>Average age</th>
      <th>Hp url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.ceo_name %></td>
        <td><%= company.established %></td>
        <td><%= company.listing %></td>
        <td><%= company.capital %></td>
        <td><%= company.sales %></td>
        <td><%= company.employees %></td>
        <td><%= company.average_age %></td>
        <td><%= company.hp_url %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
